/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

@-webkit-keyframes whirl {
  100% { -webkit-transform: rotate(360deg); }
}
.enemy {
  -webkit-animation: whirl 1s linear infinite;
  -webkit-transform-origin: 50% 50%;
}


body {
  color: white;
  font-family: 'Papyrus';
  font-weight: bolder;
  font-size: 25px;
  background-image: url('dungeon.jpg');
  background-size: 100%;
  background-repeat: no-repeat; 
}

